.bg-orange {
    background-color: orange;
}
.navbar-brand a.nav-link {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
}
.navbar-brand .nav-link:hover {
    text-decoration: underline;
    color: #ff0000;
}
input.form-control {
    border-radius: 3px;
}
form a.nav-link svg {
    color: rgba(128, 128, 128, 1);
}
form a.nav-link svg:hover {
    color: rgba(128, 128, 128, 0.8);
}
span.badge {
    font-size: 10px;
    margin-left: -8px;
}
.nav .nav-item .nav-link {
    font-size: 18px;
    color: rgba(80, 80, 80, 1);
}
.nav .nav-item .nav-link:hover {
    font-size: 18px;
    color: rgba(80, 80, 80, 0.5);
}
.nav .nav-item .nav-link.active {
    border: none;
    text-decoration: underline;
}